<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="monthNumber">
    <th mat-header-cell *matHeaderCellDef> NR MIESIĄCA </th>
    <td mat-cell *matCellDef="let element"> {{element.monthNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="capitalPartOfInstallment">
    <th mat-header-cell *matHeaderCellDef> CZĘŚC KAPITAŁOWA RATY </th>
    <td mat-cell *matCellDef="let element"> {{element.capitalPartOfInstallment}} </td>
  </ng-container>

  <ng-container matColumnDef="interestPartOfInstallment">
    <th mat-header-cell *matHeaderCellDef> CZĘŚC ODSETKOWA RATY </th>
    <td mat-cell *matCellDef="let element"> {{element.interestPartOfInstallment}} </td>
  </ng-container>

  <ng-container matColumnDef="capitalToRepay">
    <th mat-header-cell *matHeaderCellDef> KAPITAŁ DO SPŁATY </th>
    <td mat-cell *matCellDef="let element"> {{element.capitalToRepay}} </td>
  </ng-container>

  <ng-container matColumnDef="interestToRepay">
    <th mat-header-cell *matHeaderCellDef> ODSETKI DO SPŁATY </th>
    <td mat-cell *matCellDef="let element"> {{element.interestToRepay}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>